main {
    background-image: url(../../imagens/fundo.png);
    min-height: 100vh;
    background-position: right center;
    background-attachment: fixed;
    background-color: #FF6018;
    background-blend-mode: overlay;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
    margin-top: 85px;
}

h1 {
    font-size: 3rem;
    color: white;
  }

  h3 {
      color:white;

  }
  h5 {
      color: white;
  }